<div class="container-fluid lg-section5" [class.darkbg]="theme">
  <div class="row">
    <div class="col-12 col-lg-6 py-5 d-flex justify-content-center align-items-center">
      <div class="ads-chain-img">
        <img src="./assets/images/bg/ads-chain.png" alt="Adverse" class="ads-chain-img">

      </div>
    </div>
    <div class="col-12 col-lg-6 py-5 d-flex justify-content-center align-items-center">
      <div class="box2 text-center text-lg-end">
        <img src="./assets/images/others/coming-soon.svg" alt="Coming soon" class="coming-soon">
        <h4 class="title d-flex align-items-center justify-content-center justify-content-lg-end" [class.dark]="theme">
          <img src="./assets/images/icons/ad-chain.svg" alt="AD Chain" class="ad-chain-icon">
          ADChain
        </h4>
        <h5 [class.dark]="theme" class="sub-title-blockchain">{{ 'lgSection5.sub-chain' | translate }}</h5>
        <p [class.dark]="theme"> {{ 'lgSection5.info' | translate }}
          <!-- <br><br>
          {{ 'lgSection5.list.item1' | translate }}<br>
          {{ 'lgSection5.list.item2' | translate }}<br>
          {{ 'lgSection5.list.item3' | translate }} -->
        </p>
        <h4 class="title d-flex align-items-center justify-content-center justify-content-lg-end" [class.dark]="theme">
          ADChain
        </h4>
        <h5 [class.dark]="theme">{{ 'lgSection5.subtitle' | translate }}<br>
          {{ 'lgSection5.subtitle2' | translate }}</h5>
      </div>
    </div>
    <div class="col-12 lg-section5-box3 d-flex align-items-center justify-content-center ">
     <img src="./assets/images/logo/logo-3d.svg" alt="Adverse" >
      <div class="box">
        <h4 class="title">{{ 'lgSection5.title3' | translate }}</h4>
        <h5 [class.dark]="theme">{{ 'lgSection5.subtitle3' | translate }}</h5>
      </div>
    </div>
  </div>
</div>
