<div class="adv-component-status position-relative"
 [ngClass]="{ 'active': active, 'end': end, 'dark':theme }">
  <h4 class="title1 text-center" [class.dark]="theme">{{title}}</h4>


  <div class="title2 d-flex">
    <img src="./assets/images/logo/adv-icon-white.svg" alt="Adverse" class="price" [class.dark]="theme">
    <h4 class="d-flex justify-content-between align-items-center w-100" [class.dark]="theme">
      <span>{{number}}</span>
      <span>MM</span>
    </h4>
  </div>
  <div class="discount d-flex justify-content-between align-items-center">
    <p [class.dark]="theme">Discount</p>
    <p *ngIf="discount > 0; else elseDiscount" [class.dark]="theme">{{discount+'%'}}</p>
    <ng-template #elseDiscount>
      <div class="none ndiscount"></div>
    </ng-template>
  </div>
  <p class="remain-tokens text-center" [class.dark]="theme">Remaining Tokens</p>
  <div class="percentage">
    <p class="text-center" *ngIf="sold > 0; else elseSold" [class.dark]="theme">{{sold}}% Sold</p>
    <ng-template #elseSold>
      <div class="d-flex align-items-center justify-content-center">
        <div class="none nsold"></div>
        <p class="text-center" [class.dark]="theme"> % Sold</p>
      </div>

    </ng-template>
    <div class="line position-relative">
      <div class="point position-relative" [ngStyle]="{'width': sold + '%'}"></div>
    </div>
  </div>
  <div class="raised d-flex justify-content-between align-items-center">
    <p [class.dark]="theme">USDT Raised:</p>
    <p *ngIf="raised !== ''; else elseRaised" [class.dark]="theme">${{raised}}</p>
    <ng-template #elseRaised>
      <div class="d-flex align-items-center justify-content-end">
        <p class="text-center" [class.dark]="theme"> $</p>
        <div class="none nraised"></div>
      </div>
    </ng-template>
  </div>
</div>
